* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft YaHei";
}

header {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    z-index: 100;
    background-color: #2D90F5;
}

header .headerBox {
	position: relative;
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}

header .logo {
	position: absolute;
	left: 0;
	height: 56px;
}

header ul {
	margin-left: 600px;
	display: inline-block;
    vertical-align: middle;
}
header li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-weight: 200;
    line-height: 60px;
    cursor: pointer;
    padding: 0 30px;
}

.container {
    display: block;
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
}