.container {
    display: block;
    width: 1200px;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
}

.container h2,
.container h3 {
    font-weight: 200;
}

.container h3 {
    text-decoration: underline;
}

.container p {
    font-size: 14px;
    font-weight: 200;
}

.container input{
    width: 400px;
}